---
title: Speech Abstract
date: 3.1.2013
excerpt: Need a speaker for an event, here's a little about me and what I like to speak about...
layout: ../layouts/single.jade
category: Speaking, HTML5, CSS3, JavaScript
heroimage: http://lorempixel.com/200/200/technics/1/
---

:markdown
	[Adobe Create Now](http://www.createnowseattle.com/)