---
title: Adobe Create Now 2012
date: 3.9.2012
excerpt: Adobe asked me to speak on Dreamweaver CS6, it's tooling and enhancements for RWD and HTML5 development...
layout: ../layouts/single.jade
category: Speaking, HTML5, CSS3, JavaScript, Dev Tools
heroimage: http://lorempixel.com/200/200/technics/1/
---

:markdown
	[Adobe Create Now](http://www.createnowseattle.com/)