---
title: Facebook Hackathon Interview
date: 12.1.2012
excerpt: Some of us from Ratio went to Facebook HQ to help out during a Windows 8 Hackathon...
layout: ../layouts/single.jade
category: Speaking, HTML5, CSS3, JavaScript
heroimage: http://lorempixel.com/200/200/technics/1/
---

:markdown
	[Watch the Interview](http://channel9.msdn.com/Events/Facebook-and-Windows-8-Hackathon/Facebook-and-Windows-8-Hackathon?d=1)