article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: 'Bitstream Vera Sans Mono', Consolas, Courier, monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  font-size: 96.9%;
  font-size: 15px;
  color: #e3e7e8;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
.btn-simple {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
  font-size: 13px;
  padding: 9.945px 21.879px;
  -webkit-border-radius: 3.000002307694083px;
  -moz-border-radius: 3.000002307694083px;
  -ms-border-radius: 3.000002307694083px;
  border-radius: 3.000002307694083px;
  background-color: #40aabf;
  color: #494949;
  color: rgba(73,73,73,0.95);
  cursor: pointer;
  font-weight: bold;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.btn-simple:hover,
.btn-simple:focus {
  background-color: #3da1b6;
  color: #474747;
  color: rgba(71,71,71,0.95);
}
.btn-simple:active {
  background-color: #3999ac;
}
.btn {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
  font-size: 13px;
  padding: 9.945px 21.879px;
  -webkit-border-radius: 3.000002307694083px;
  -moz-border-radius: 3.000002307694083px;
  -ms-border-radius: 3.000002307694083px;
  border-radius: 3.000002307694083px;
  background: url("noise.png") repeat, #3999ac -webkit-gradient(linear, left top, left bottom, color-stop(0, #53b3c6), color-stop(1, #3999ac)) repeat-x;
  background: url("noise.png") repeat, #3999ac -webkit-linear-gradient(top, #53b3c6 0%, #3999ac 100%) repeat-x;
  background: url("noise.png") repeat, #3999ac -moz-linear-gradient(top, #53b3c6 0%, #3999ac 100%) repeat-x;
  background: url("noise.png") repeat, #3999ac -ms-linear-gradient(top, #53b3c6 0%, #3999ac 100%) repeat-x;
  background: url("noise.png") repeat, #3999ac linear-gradient(top, #53b3c6 0%, #3999ac 100%) repeat-x;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
  border: 1px solid #3999ac;
  color: #494949;
  color: rgba(73,73,73,0.95);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
  -ms-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.3);
  cursor: pointer;
  font-weight: bold;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.btn:hover,
.btn:focus {
  background-position: 0 -9.945px;
  color: #474747;
  color: rgba(71,71,71,0.95);
  text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
}
.btn:active {
  -webkit-box-shadow: inset 0 1px 5px rgba(48,127,143,0.6);
  -moz-box-shadow: inset 0 1px 5px rgba(48,127,143,0.6);
  -ms-box-shadow: inset 0 1px 5px rgba(48,127,143,0.6);
  box-shadow: inset 0 1px 5px rgba(48,127,143,0.6);
  text-shadow: 1px 1px 1px rgba(255,255,255,0.6);
  border-color: #348b9d;
}
.btn.disabled,
.btn-simple.disabled {
  background: #ccc;
  border-color: #b8b8b8;
  -webkit-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -moz-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn.disabled:hover,
.btn-simple.disabled:hover {
  background: #ccc;
  background-position: 0 0;
}
.btn.disabled:active,
.btn-simple.disabled:active {
  background: #ccc;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  border-color: #b8b8b8;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format('embedded-opentype'), url("../fonts/icomoon.woff") format('woff'), url("../fonts/icomoon.ttf") format('truetype'), url("../fonts/icomoon.svg#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
[class*="icon-"]:before {
  margin-right: 5px;
}
.icon-file-css,
.icon-twitter,
.icon-google-plus,
.icon-facebook,
.icon-vimeo,
.icon-steam,
.icon-github,
.icon-linkedin,
.icon-stackoverflow,
.icon-pacman,
.icon-library,
.icon-bookmark,
.icon-lightning,
.icon-html5,
.icon-css3,
.icon-tag,
.icon-office,
.icon-pencil,
.icon-bug,
.icon-fire,
.icon-lab,
.icon-console,
.icon-windows8,
.icon-apple,
.icon-android {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-abs:before {
  position: absolute;
}
.icon-file-css:before {
  content: "\e000";
}
.icon-twitter:before {
  content: "\e003";
}
.icon-google-plus:before {
  content: "\e004";
}
.icon-facebook:before {
  content: "\e001";
}
.icon-vimeo:before {
  content: "\e002";
}
.icon-steam:before {
  content: "\e005";
}
.icon-github:before {
  content: "\e006";
}
.icon-linkedin:before {
  content: "\e007";
}
.icon-stackoverflow:before {
  content: "\e008";
}
.icon-pacman:before {
  content: "\e009";
}
.icon-library:before {
  content: "\e00a";
}
.icon-bookmark:before {
  content: "\e00b" !important;
}
.icon-lightning:before {
  content: "\e00c";
}
.icon-html5:before {
  content: "\e00d";
}
.icon-css3:before {
  content: "\e00e";
}
.icon-tag:before {
  content: "\e00f";
}
.icon-office:before {
  content: "\e010";
}
.icon-pencil:before {
  content: "\e011";
}
.icon-bug:before {
  content: "\e012";
}
.icon-fire:before {
  content: "\e013";
}
.icon-lab:before {
  content: "\e014";
}
.icon-console:before {
  content: "\e015";
}
.icon-windows8:before {
  content: "\e016";
}
.icon-apple:before {
  content: "\e017";
}
.icon-android:before {
  content: "\e018";
}
.circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.btn-simple {
  color: #fff;
  margin: 3px;
}
.large-gap {
  margin: 50px 0;
}
.popped-out {
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  -ms-box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
.popped-in {
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2) inset;
  -moz-box-shadow: 0 0 3px rgba(0,0,0,0.2) inset;
  -ms-box-shadow: 0 0 3px rgba(0,0,0,0.2) inset;
  box-shadow: 0 0 3px rgba(0,0,0,0.2) inset;
}
/* responsive-nav.js v1.0.14 by @viljamis */
.main {
  -webkit-overflow-scrolling: touch;
  padding: 3em 4em;
  position: fixed;
  overflow: hidden;
  overflow-y: scroll;
  border-top-left-radius: 5px;
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.6);
  -moz-box-shadow: 0 0 15px rgba(0,0,0,0.6);
  -ms-box-shadow: 0 0 15px rgba(0,0,0,0.6);
  box-shadow: 0 0 15px rgba(0,0,0,0.6);
  top: 0.8em;
  right: 0;
  bottom: 0;
  width: 76%;
}
.main::-webkit-scrollbar {
  -webkit-appearance: none;
  background-color: rgba(0,0,0,0.15);
  width: 8px;
  height: 8px;
}
.main::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  background-color: rgba(0,0,0,0.4);
}
#nav {
  position: absolute;
  width: 24%;
  top: 2em;
  left: 0;
}
#nav ul {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
}
#nav li {
  width: 100%;
  display: block;
}
#nav a {
  color: #aaa;
  font-weight: bold;
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  transition: background 0.3s ease;
  text-shadow: 0 -1px rgba(0,0,0,0.5);
  border-bottom: 1px solid rgba(0,0,0,0.2);
  border-top: 1px solid rgba(255,255,255,0.1);
  display: block;
  padding: 0.6em 2em;
  width: 100%;
}
#nav a:hover {
  background: rgba(255,255,255,0.1);
}
#nav .active a {
  color: #fff;
  background: rgba(0,0,0,0.3);
}
#nav li:first-child a {
  border-top: 0;
}
#nav li:last-child a {
  border-bottom: 0;
}
#toggle {
  display: none;
}
@media screen and (max-width: 40em) {
  #nav {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
  }
  #nav {
    top: 0;
    width: 100%;
    position: relative;
  }
  #nav.opened {
    max-height: 9999px;
  }
  #nav a:hover {
    background: transparent;
  }
  #nav .active a:hover {
    color: #fff;
    background: rgba(0,0,0,0.3);
  }
  #toggle {
    -webkit-touch-callout: none;
    user-select: none;
    display: block;
    width: 70px;
    height: 55px;
    position: absolute;
    top: 0;
    right: 100px;
    margin: 0 -2em 1em 0;
    text-indent: -9999px;
    overflow: hidden;
    background: #444 url("../img/hamburger.gif") no-repeat 50% 33%;
  }
  .main {
    -webkit-overflow-scrolling: auto;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    padding: 0 2em 2em;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .main::-webkit-scrollbar {
    background-color: transparent;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1.3), screen and (min--moz-device-pixel-ratio: 1.3), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-device-pixel-ratio: 1.3), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  body {
    background-image: url("../img/debut_dark_@2X.png");
    -webkit-background-size: 200px 200px;
    -moz-background-size: 200px 200px;
    -o-background-size: 200px 200px;
    -webkit-background-size: 200px 200px;
    -moz-background-size: 200px 200px;
    -ms-background-size: 200px 200px;
    background-size: 200px 200px;
  }
  #toggle {
    background-image: url("hamburger-retina.gif");
    -webkit-background-size: 100px 100px;
    -moz-background-size: 100px 100px;
    -ms-background-size: 100px 100px;
    background-size: 100px 100px;
  }
}
@media screen and (min-width: 76em) {
  #nav {
    width: 18em;
  }
  .main {
    width: auto;
    left: 18em;
  }
}
body {
  padding: 0;
  background: #444 url("../img/debut_dark.png") repeat;
}
a {
  color: #40aabf;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #b3dde6;
}
hr {
  border-top-color: #2b383b;
  border-bottom-color: #555c5e;
  border-left-color: transparent;
  border-right-color: transparent;
  margin: 30px 0;
}
.row {
  max-width: 100%;
}
section {
  background-color: rgba(0,0,0,0.7);
}
.feed > article {
  padding: 30px 0;
  border-bottom: 1px solid #272727;
}
.feed-title {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 3rem;
  font-weight: lighter;
  text-transform: capitalize;
}
.feed-date {
  font-size: 0.4em;
  margin-left: 10px;
  color: #577075;
}
.feed-tags {
  color: #808080;
}
