.carousel
    overflow: hidden
    -ms-touch-action: none
    width:100%
    margin: 0 0 1px 0
    padding: 25px 0
    background-color: rgba(0,0,0,0.3)
    backface-visibility: hidden
    transform: translate3d(0,0,0) scale3d(1,1,1)
    transform-style: preserve-3d

.carousel > h1
    position:absolute
    top:1rem
    margin:0
    font-size:2rem
    color:hsl(0,0%,14%)
    text-shadow:1px 1px 1px hsla(0,0%,0%,0.2)
    background-color:hsla(0,0%,10%, 0.8)
    padding:0.2rem 0.5rem 0.2rem 0

.carousel ol.animate 
    transition: all .3s

.carousel ol
    padding:0
    margin:0
    transform: translate3d(0%,0,0) scale3d(1,1,1)
    overflow: hidden
    backface-visibility: hidden
    transform-style: preserve-3d

.carousel.out ol
    transform: translateX(20px)
    opacity: 0

.carousel .btn-nav
    position:absolute
    top:50%;
    color:hsla(0,0%,10%, 0.5)
    margin-top:-2rem
    z-index:1
    font-family: 'icomoon'
    font-size: 4rem
    font-style: normal
    font-weight: normal
    font-variant: normal
    text-transform: none
    line-height: 1
    -webkit-font-smoothing: antialiased
    transition:all 1s ease-out

.carousel > .next
    right: -0.7rem

.carousel > .prev
    left: -0.7rem

.carousel > .prev.out, 
.carousel > .next.out
    opacity:0.1

.carousel > .prev:active,
.carousel > .next:active
    transform:scale3d(0.97,0.97,1)

.carousel li 
    height: 100%
    text-align: center
    overflow: hidden
    transform-style: preserve-3d
    transform: translate3d(0,0,0)