footer
	padding: 0.7rem
	position: fixed
	z-index: 1
	bottom: 0
	width: 100%
	transform: translate3d(0,200px,0)
	height:240px
	cursor:pointer

.btn-container
	padding-top:20px

.menu-btn
	top:-0.5rem
	font-size:2rem
	color:hsla(0,0%,10%, 0.5)

.menu-btn.tl 
	left:-0.5rem

.menu-btn.tr 
	right:-0.5rem