---
title: Browser Engine Infographic
date: 8/14/2010
layout: ../layouts/single.jade
category: AS3, Flex
heroimage: http://lorempixel.com/200/200/technics/9/
---

:markdown
  I created this infographic to help visualize browser usage over time. The data was pulled from the W3C and converted into size relationships. I've considered modernizing it by recreating it in JavaScript and using D3.js as the data visualization engine, but, I think this infographic has only been seen a couple hundred times. Not worth the 6-9 hours it would take to revamp this graphic. All in all though, I find the infographic, and infographics in general to be extremely meaningful to data. I was baffled at how dominant Trident was, as well as how dominant Gecko got. Webkit is smashing now though, which is awesome. Soon Blink will show up on the charts and begin it's takeover of the web engine space. 