---
title: HTML5 Clear
date: 5/4/2012
layout: ../views/_single_post.jade
category: Node, MongoDB, JavaScript, Zepto
heroimage: http://lorempixel.com/200/200/technics/9/
repo: https://github.com/argyleink/phonegap-clear.git
---

:markdown
  (forked)[https://github.com/yyx990803/HTML5-Clear] this UI concept, tied it up to a custom node rest service and mongodb backend, then deployed the working app on phone gaps (cloud builder)[https://build.phonegap.com/]. This is by far my favorite way I've deployed apps to mobile. I'll be using this service more fo sho.