---
title: HTML5 Clear
date: 5/4/2012
layout: single.jade
category: Node, MongoDB, JavaScript, Zepto
heroimage: http://lorempixel.com/200/200/technics/9/
repo: https://github.com/argyleink/phonegap-clear.git
---

:markdown
  (forked)[https://github.com/yyx990803/HTML5-Clear] ui and tied it up to a custom node rest service (no express) and mongodb backend, then deployed on phone gaps (cloud builder)[https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&ved=0CEkQFjAA&url=https%3A%2F%2Fbuild.phonegap.com%2F&ei=oscZUbiNJerWiwKp9oBw&usg=AFQjCNG-J2-jNqma8ko6fJHQz9EoI3x1yg&bvm=bv.42261806,d.cGE] 