---
title: Games List
date: 3/3/2012
layout: single.jade
category: Meteor.js, Node, MongoDB, HTML, CSS, JavaScript
heroimage: http://lorempixel.com/200/200/technics/9/
---

:markdown
  App concept for you and your friends to know which games they have for what system. Makes sharing and Co-op easier to arrange. The UI is in realtime, which makes me soooo happy. As friends add and remove games, their filters update instantly, my view of their games updates isntantly, and the pain of normal click and load apps is toast. I love it!