---
title: Meteor - Linked In
date: 4/14/2012
layout: single.jade
category: JavaScript, Realtime UI with Meteor
heroimage: http://lorempixel.com/200/200/technics/9/
---

:markdown
  This was a fun little experiment I thought of one night, it was created to solve the problem of maintaining an employee list manually. Many of my personal experiments needed a small dataset to playwith, and Ratio's employee list has always been there for me. But after the company grew, I didn't want to manually add these fools everytime. So with the power of Meteor and the LinkedIn API, new employee's just need to visit my Meteor app, click connect with LinkedIn, and they're done. No more updating info, no more adding profile photos or adding emails, it's all there. 

  So I got to play with the LinkedIn API and Meteor's live UI framework. Fun stuff, for a nerd.