---
title: Ratio Rolodex
date: 4/21/2011
layout: single.jade
category: Node, MongoDB, jQuery Mobile, PhoneGap
heroimage: http://lorempixel.com/200/200/technics/9/
---

:markdown
  This is my pet project for watching jQuery Mobile and it's progress as it matures. I update the JQM code whenever they announce a release, and I test it against something I know and can gauge perf on. I've also tested packaging this up with PhoneGap, to see if perf is better when wrapped in a webview, or if it's better when it's a tab in the browser. 