---
title: Social Logik
date: 5/4/2010
layout: ../views/_single_post.jade
category: iPhone, Prototype
heroimage: http://lorempixel.com/200/200/technics/3/
---

:markdown
  An early prototype of mine, intended to help people who struggle making small talk. This app provides the user with topics, jokes,
  and don'ts for the type of person they are talking to. Here's an easy example: Jock needs to talk to a nerdy chick, or the other way
  around. Simple, open the app, find the male jock, and start paroozing crowd sourced topics, jokes and dont's that a jock will
  likely find amusing or entertaining.

  My design isn't that great, now that I look back, but the idea is there and the prototype execution certainly helps get the idea across.