--- 
title: WeGesture
date: 8/6/2010 
layout: ../views/_single_post.jade 
category: AS3, Flex, Prototype, Gesture, Usability 
heroimage: http://lorempixel.com/200/200/technics/10/ 
link: http://argyleink.com/weGesture/
---

:markdown
  Gestures were just catching on when I made this prototype. I felt it was unfair for designer and developers at Apple or any company
  to decide how people would gesture for an action on a device. I hope that these companies did something similar to this prototype.

  This prototype asks users to gesture for a given set of common actions: forward, backward, copy, paste, play, pause, etc. After users
  gesture for the action, an image is saved of their gesture. That's it, that's all I needed from the users, just their idea.

  Once I had enough images saved on my server, I made a [microsite](http://argyleink.com/weGesture/results.html) to showcase everyone's 
  gesture choices! The findings were pretty crazy. 