---
title: BlackBerry App World - Die Ants Die!
date: 5/20/2011
category: BlackberryOS, AS3, Flex, Game
excerpt: Mockup ...
layout: single.jade
heroimage: http://lorempixel.com/200/200/technics/5/
---

:markdown
	[Die Ants Die!](http://appworld.blackberry.com/webstore/content/37167?lang=en) on the Blackberry OS Tablet Marketplace.