---
title: hello world
date: 1/1/1970
layout: single.jade
---

<p>This is my first blog post.</p>
<p>Since I can use jade to write my posts, I can get markdown as well as the full power of html in every post.</p>
<h4>Whoo</h4>