---
title: 11 HTML5 API Lessons
date: 2.20.2013
excerpt: A single page to checkout 8 of the hottest HTML5 API's...
layout: ../views/_single_post.jade
category: HTML5, CSS3, JavaScript
heroimage: http://lorempixel.com/200/200/technics/1/
---

:markdown
	[2012 HTML5 JavaScript API's](http://ratiointeractive.github.io/Intel-DeveloperPortal_LessonCodeSamples/)
	[Get the Code](https://github.com/RatioInteractive/Intel-DeveloperPortal_LessonCodeSamples)