---
title: 11 HTML5 Lessons
date: 1.2.2013
excerpt: These are boilerplate lessons I wrote for Intel's HTML5 Developer Portal...
layout: single.jade
category: HTML5, CSS3, JavaScript
heroimage: http://lorempixel.com/200/200/technics/1/
---

:markdown
	[Check them out](http://www.rvl.io/nerdydork)