---
title: Post 1
date: 2.16.1986
category: css, html
excerpt: Lorizzle boofron fo shizzle away dope, consectetizzle adipiscing elit. Nullizzle crunk velizzle, aliquet volutpizzle...
layout: single.jade
heroimage: http://lorempixel.com/200/200/technics/5/
---
:markdown
	Lorizzle boofron fo shizzle away dope, consectetizzle adipiscing elit. Nullizzle crunk velizzle, aliquet volutpizzle, 
	ghetto quizzle, phat vel, gizzle. Pellentesque check out this tortizzle. Sed eros. izzle dolizzle dapibus fo tempizzle 
	tellivizzle. Maurizzle pellentesque shiznit izzle turpizzle. The bizzle check it out tortor. Pimpin' the bizzle rhoncus 
	things. In hac habitasse platea dictumst. Nizzle dapibizzle. Dawg fo shizzle mah nizzle fo rizzle, mah home g-dizzle , 
	pretizzle ass, crackalackin rizzle, eleifend vitae, nunc. The bizzle suscipizzle. Integizzle sempizzle velit sed dawg.