---
title: Post 1
date: 2.16.1986
category: css, html
layout: single.jade
heroimage: http://placehold.it/80x80&text=[post 1]
---

:markdown
	This is my first blog post.
	Since I can use jade to write my posts, I can get markdown as well as the full power of html in every post.
	#### Whoo