---
title: All Recipes Video for Windows 8
date: 2012
layout: ../views/_single_post.jade
category: HTML, CSS, JavaScript
heroimage: http://lorempixel.com/200/200/technics/9/
---

:markdown
  Windows 8: if you download this app and think anything is cool, i did it =) ratio didn't design it, we built it, i did 80% of frontend