---
title: Intel Comic Director
date: 2012
layout: ../layouts/single.jade
category: HTML, CSS, JavaScript, SVG Canvas
heroimage: http://lorempixel.com/200/200/technics/9/
---

:markdown
  idea i helped spawn for intel, they wanted to reel in young teens to an app their used the cpu. i wanted to call it meme machine, but they named it lame. it's an SVG based app using RaphaelJS, lots of cool touch ui  