---
title: Current Movement Studios
date: 2010
layout: single.jade
category: Designer, Developer, HTML, CSS, jQuery
heroimage: http://lorempixel.com/200/200/technics/9/
---

:markdown
  Yoga and Gyrotonic studio, single page web app.