---
title: Die Ants Die!
date: 2011
layout: ../views/_single_post.jade
category: Game, AS3, iOS, Android, Blackberry OS, PC, Mac, Linux
heroimage: http://lorempixel.com/200/200/technics/9/
---

:markdown
	- [Android](https://play.google.com/store/apps/details?id=air.DieBugsDie&hl=en)
	- [iOS](http://itunes.apple.com/us/app/die-ants-die/id429576768?mt=8?iframe=true&width=95%&height=95%)
	- [Web](http://argyleink.com/dieantsdie/)

	A squishing extravaganza, tons of guts, fast pesky little buggers, and awesome.

	Squish ants before the timer runs out! They are feisty little dudes, so have your fingers ready to hunt. Don't worry about the mess, the app will clean it up =)

	Features:

	- 30 level which look awesome on tablets

	- Multi-Touch squishing (some droids are limited to 2 fingers)

	- Realistic ants and ant movement

	- Auto-Saves your progress

	- Silly squish sounds

	- Tons of ants