---
title: GQ for Windows 8
date: 2012
layout: ../layouts/single.jade
category: HTML, CSS, JavaScript
heroimage: http://lorempixel.com/200/200/technics/9/
---

:markdown
  Windows 8 - i helped with frontend perf and pixel perfect matching