---
title: Next Issue Media
date: 2013
layout: ../views/_single_post.jade
category: HTML, CSS, JavaScript, Windows 8
heroimage: http://lorempixel.com/200/200/technics/9/
---

:markdown
	This app I architected from the ground up with dummy data in 3 weeks. Given the app wasn't full of sexy magazines like Wired, GQ, Vogue, and more, but it was full of cats! Oh yeah, and not just cats, but kittens. After I had effectively prototyped the app architecture and skin, I handed it off to our Data Layer expert and he began integration with SQL Server. I then was on maintenance and service until completion of the app last month. Turned out awesome. Once of the sexiest and smoothest Windows 8 Apps Ratio has made to date, IMO.  