---
title: Parents for Windows 8
date: 2012
layout: ../layouts/single.jade
category: HTML, CSS, JavaScript
heroimage: http://lorempixel.com/200/200/technics/9/
---

:markdown
  win8 app, i came in and did all the animations