---
title: project 2
date: 1/1/2015
layout: single.jade
category: something, something, something
heroimage: http://placehold.it/80x80&text=[project 2]
---

:markdown
  This is my second blog post. Since I can use jade to write my posts, I can get markdown as well as the full power of html in every post. Whoo!