---
title: Ratio Interactive
date: 2012
layout: ../layouts/single.jade
category: HTML, CSS, JavaScript, Wordpress, Nginx, Responsive
heroimage: http://lorempixel.com/200/200/technics/9/
---

:markdown
  nginx, php, mysql, wordpress cms, ajax frontend getting json from wordpress. fully cached, served from cdn, minified and all.