---
title: Uber Cute Baby Animals
date: 2012
excerpt: Windows 8 app developed with their native HTML/CSS/JavaScript SDK
layout: ../views/_single_post.jade
category: Windows 8, JavaScript, HTML, CSS
heroimage: http://lorempixel.com/200/200/technics/7/
---

:markdown
  Cute feed reader app for Windows 8