---
title: Uber Cute Baby Animals
date: 2012
layout: single.jade
category: Windows 8, JavaScript, HTML, CSS
heroimage: http://lorempixel.com/200/200/technics/7/
link: http://apps.microsoft.com/windows/en-us/app/uber-cute-baby-animals/b01ab76f-f053-4069-a50e-0558dcd20c84
---

:markdown
  Cute feed reader app for Windows 8