---
title: Coderwall
profileUrl: https://coderwall.com/argyleink
tagline: A place to share tips, see social code impact as a team, and boast Github achievements
picture: http://www.gravatar.com/avatar/4146f0a7de7dbfd047abe6e7fda1b407.png
---

:markdown
  Content