---
title: Coderbits
profileUrl: https://coderbits.com/argyleink
tagline: Charts and summaries of my social coding impact
picture: http://www.gravatar.com/avatar/4146f0a7de7dbfd047abe6e7fda1b407.png
---

:markdown
  This is my first blog post. Since I can use jade to write my posts, I can get markdown as well as the full power of html in every post. Whoo!