---
title: Google+
profileUrl: https://plus.google.com/113556563890081284759/
tagline: My professional developer social network
picture: http://www.gravatar.com/avatar/4146f0a7de7dbfd047abe6e7fda1b407.png
---

:markdown
  Content