---
title: LinkedIn
profileUrl: https://www.linkedin.com/in/adamargyle/
tagline: See my official work history, education, and experience
picture: http://m.c.lnkd.licdn.com/mpr/mpr/shrink_200_200/p/4/000/15b/2b5/2333a06.jpg
---

:markdown
  This is my first blog post. Since I can use jade to write my posts, I can get markdown as well as the full power of html in every post. Whoo!