---
title: Twitter
profileUrl: https://twitter.com/argyleink
tagline: A place to be a dork about nerd stuff, mostly dev junk
picture: http://www.gravatar.com/avatar/4146f0a7de7dbfd047abe6e7fda1b407.png
---

:markdown
  Content